<header>
  <div class="leftBlock">
    <a href="" class="logo">Logo</a>

      <a routerLink = "{{goBackLink.url}}" class="back" *ngIf = "goBackLink.text">	&#60; {{goBackLink.text}}</a>
     
  </div>

  <div class="centerBlock" *ngIf="navBlock">
    <app-nav></app-nav>
  </div>

  <div class="rightBlock">
    <ng-container *ngIf = "logInBlock">

       <div class="signBtn" *ngIf ="!logInUser">
          <button routerLink = "/login">Sign In</button>
        </div>
      
        <ul *ngIf ="logInUser">
          <li>Welcome <strong>{{logInUser| titlecase}}</strong></li>
          <li><a href="javascript:void(0)"(click)="onLogOut()">Log Out</a></li>
        </ul> 
     
    </ng-container>

    <div class="contact" *ngIf="contactDetail">
      <li><a href="mailto:iamkishorshrestha@gmail.com">iamkishorshrestha@gmail.com</a></li>
      <li><a href="tel:631-480-7919"></a>631-480-7919</li>
    </div>
  </div>
   
</header>