<header>
  <div class="leftBlock">
    <a href="" class="logo">Logo</a>
    <ng-container *ngIf = "goBackLink">
      <a href="" class="back">	&#60; Back to Product</a>
      <a href="" class="back"> 	&#60; Back to Gallery</a>
    </ng-container>
    
  </div>

  <div class="centerBlock">
    <app-nav></app-nav>
  </div>

  <div class="rightBlock">
    <ng-container *ngIf = "logInBlock">

       <div class="signBtn" *ngIf ="!logInUser">
          <button>Sign In</button>
        </div>
      
        <ul *ngIf ="logInUser">
          <li>Welcome</li>
          <li><a href="">Log Out</a></li>
        </ul>
     
    </ng-container>

    <div class="contact" *ngIf="contactDetail">
      <li><a href="mailto:iamkishorshrestha@gmail.com">iamkishorshrestha@gmail.com</a></li>
      <li><a href="tel:631-480-7919"></a>631-480-7919</li>
    </div>
  </div>
   
</header>