<div class="contact">
  <h2>contact</h2>
  <p>
    Lorem ipsum dolor sit amet 
    consectetur adipisicing elit.
    Nulla consectetur dicta dolor 
    doloribus nihil perspiciatis est
    laborum quia at nisi? Maiores
    voluptas ut error  nihil corrupti 
     magni deleniti laudantium mollitia.
Lorem ipsum dolor sit amet consectetur, adipisicing elit. Quae sequi optio, quaerat ea rem ipsa molestiae eum autem rerum numquam eaque quod soluta, non ab quasi voluptatem mollitia, perferendis nesciunt.
  </p>
</div>