<div class="gallery">
  <div class="imgDetail">
    <img src="https://img4.goodfon.com/wallpaper/nbig/d/d2/peizazh-nebo-luga-kholmy-priroda.jpg" alt="">
    <p>Gallery 1</p>
  </div>

  <div class="imgDetail">
    <img src="https://cdn.theatlantic.com/assets/media/img/photo/2020/02/winners-2019-international-landscap/p01_SanderGrefte14180-443-1/original.jpg" alt="">
    <p>Gallery 2</p>
  </div>

   <div class="imgDetail">
    <img src="https://images.fineartamerica.com/images/artworkimages/mediumlarge/3/rolling-hills-lynn-hopwood.jpg" alt="">
    <p>Gallery 3</p>
  </div>

  <div class="imgDetail">
    <img src="https://loveincorporated.blob.core.windows.net/contentimages/gallery/2c833c40-38ea-4195-959b-36bfd8cf9a76-sunrise_spots_utah.jpg" alt="">
    <p>Gallery 4</p>
  </div>

  <div class="imgDetail">
    <img src="https://cdn.sandals.com/beaches/v12/images/general/destinations/home/beach.jpg" alt="">
    <p>Gallery 5</p>
  </div>

  <div class="imgDetail">
    <img src="https://images.adsttc.com/media/images/5b23/e5d4/f197/cc0e/e500/00f2/large_jpg/GLUCK__House_in_the_Mountains_01_Mundinger.jpg?1529079241" alt="">
     <p>Gallery 6</p>
  </div>

 

  <div class="imgDetail">
   <img src="https://loveincorporated.blob.core.windows.net/contentimages/gallery/b49942a5-9b20-4130-a10f-bb5740eae249-9912c550-26ea-4e77-8128-3ccdc9aaedaa-26-vinicuna-rainbow-mountains.jpg" alt="">
     <p>Gallery 7</p>
  </div>

  <div class="imgDetail">
    <img src="https://p4.wallpaperbetter.com/wallpaper/1013/1011/609/field-trees-landscape-sunset-wallpaper-preview.jpg" alt="">
     <p>Gallery 8</p>
  </div>

  <div class="imgDetail">
    <img src="https://www.canadiannaturephotographer.com/Road_Photography/Kananaskis_MG_3152.jpg" alt="">
     <p>Gallery 9</p>
  </div>
</div>